section {
  padding: 6rem 0;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 14px;
  color: black;
}

.line {
  width: 1px;
  opacity: 0.2;
  height: 10rem;
  background-color: white;
}
